@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

body {
  background: #f8fafb;
  font-family: "Nunito", sans-serif;
}

.bs-select select {
  margin-bottom: 10px !important;
  margin-left: 0 !important;
}

.table > :not(caption) > * > * {
  box-shadow: none;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 !important;
}

.dataTable > thead:nth-child(1) {
  display: none;
}

.sr-only {
  display: none !important;
}

.page-item.active .page-link {
  border: 1px solid #0d4b6f !important;
  background: #fff !important;
  color: #0d4b6f;
  border-radius: 4px;
  font-weight: bold;
}

.btn-success {
  background: #e5fde9 !important;
  border-radius: 30px !important;
  color: #158a2a !important;
  border: none !important;
}

.btn-danger {
  background: #ffebea;
  border-radius: 30px;
  color: #98150e;
  border: none !important;
}

.btn-warning {
  background: #fffbe3;
  border-radius: 30px;
  color: #836717;
  border: none !important;
}
