.dataTable {
	width: 100%;
	background: #fff;
	table-layout: fixed;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.dataTable thead {
	background: #f8fdff;
	border-bottom: 1px solid #e5e5e5;
}

.dataTable th {
	padding: 1rem 2rem;
	text-align: left;
	font-size: 18px;
	color: #0d4b6f;
	font-weight: 700;
}

.dataTable th:last-child {
	text-align: center;
}

.dataTable td {
	padding: 1rem 2rem;
}

.dataTable td:last-child {
	text-align: center;
}

.dataTable tr {
	border-bottom: 1.5px solid #e5e5e5;
}

.dataTable tr:last-child {
	border-bottom: none;
}

.status span {
	display: block;
	width: 130px;
	margin: auto;
	text-align: center;
}

.status .draft {
	background: #fff9e4;
	color: #836717;
}

.status .complete {
	background: #e5fde9;
	color: #158a2a;
}
